Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins

**/Assets
**/MetaHumans
**/ParagonMinions
**/AuaReborn
**/LevelPrototyping
**/Characters
**/Blueprints
**/Audio
**/AnimStarterPack
**/Collections
**/Developers
**/MilitaryMercenaryBandit
**/Sci-FI_Troopers_Collection
**/Characters/UEFN_Mannequin


.vscode
.vs

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace