Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins

**/Assets
**/MetaHumans
**/ParagonMinions
**/AuaReborn
**/LevelPrototyping
**/Characters
**/Blueprints
**/Audio
**/AnimStarterPack


.vscode
.vs

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace